
.container_table th{
    font-weight: bold;
    font-size: 1.4em;
    color: #CDA869;
    font-family: 'Jura',sans-serif;

}
.sort{
   text-transform: uppercase;
   font-size: 1.2em;
   text-decoration: none;
   color:  #CDA869;
   border: 1px solid #FFF;
   border-radius: 5px;
   background-color: #323C50;
   margin-left: 10%;
   padding: 5px;
}
.sort:hover{
  transition: 0.8s ;
  background-color: #CDA869;
  color:  #323C50;
  padding: 5px;

}
.container_table td{
    font-weight: normal;
    font-size: 1.2em;
    color: #D4D3D3;
    text-transform: uppercase;
    font-family: 'Jura',sans-serif;
    height: 70px;
}

.container_table {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin-top: 60px;
    margin-left: 10%;
    background-color: #5B5A5A;
}

.container_table td, .container_table th {
  padding: 11px;
  margin: 4px;
  border-left: 1px solid #CDA869;
  border-bottom: 1px solid #CDA869;
}
.container_table tr:nth-child(odd) {
    background-color: #323C50;
}
.container_table tr:nth-child(even) {
    background-color: #2C3446;
}
.container_table th {
    background-color: #585757;
}
.container_table td:first-child { 
  color: #FB667A;
}

.container_table tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
     -moz-box-shadow: 0 6px 6px -6px #0E1119;
          box-shadow: 0 6px 6px -6px #0E1119;
}

.container_table .hover:hover {
  background-color:#CDA869;
  color: #403E10;
  font-weight: bold;
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container_table td:nth-child(4),
.container_table th:nth-child(4) { display: none; }
}
#img_standings{
  width: 90px;
  height: 45px;
}
#img_standings:hover{
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: inherit;
  transform: translate3d(6px, -6px, 0);
  transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
  transition-timing-function: line;
}
#img_standings_td:hover{
  

}